.box-teams-slide .owl-nav .owl-prev {
  left: 0;
  background: url('../images/team/btn_arrow_left.png') !important;
  background-size: cover !important;
}

.box-teams-slide .owl-nav .owl-next {
  right: 0;
  background: url('../images/team/btn_arrow_right.png') !important;
  background-size: cover !important;
}
